<html>
	<head>
		<title>Login - Yourpings.de</title>
	</head>
	<body>
		<% if (typeof(message) != "undefined") { %>
        	<div class="alert alert-danger"><%= message %></div>
    	<% } %>
		<form action="/auth/login" method="post">
			<input type="text" placeholder="Email" name="email">
			<input type="password" placeholder="123456" name="password">
			<button type="submit">Log In</button>
		</form>
	</body>
</html>