<html>
	<head>
		<title>Registrieren - Yourpings.de</title>
	</head>
	<body>
		<% if (typeof(message) != "undefined") { %>
        	<div class="alert alert-danger"><%= message %></div>
    	<% } %>
		<form action="/auth/register" method="post">
			Name: <input type="text" placeholder="Name" name="name"><br/>
			Email: <input type="text" placeholder="Email" name="email"><br/>
			Password: <input type="password" placeholder="123456" name="password"><br/>
			Password-Confirmation: <input type="password" placeholder="123456" name="password_confirmation"><br/>
			<button type="submit">Registrieren</button>
		</form>
	</body>
</html>