<!DOCTYPE html>
<html>
	<head>
    	<title>Yourpings.de</title>
    </head>
    <body>
    	<p>
    		Yourpings App.
    		You are logged in.
    		E-Mail: <%= user.local.email %> 
            <a href="/auth/logout">Logout</a>
    	</p>
    </body>
</html>