<!DOCTYPE html>
<html>
	<head>
    	<title>Yourpings.de</title>
    </head>
    <body>
    	Welcome to Yourpings!
    	You are not logged in.
    	<a href="/auth/login">Login</a>
    	<a href="/auth/register">Register</a>
    </body>
</html>