<div ng-controller="SitesController">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3"><span translate="SITES.YourSites"></span></h1>
	</div>
	<div class="wrapper-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						All Sites
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table m-b-none">
							<thead>
								<tr>
									<th>URL</th>
									<th>Port</th>
									<th>Method</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="site in sites track by $index" ng-class="{'success': site.up, 'danger': site.down}">
									<td>{{site.url}}</td>
									<td>{{site.port}}</td>
									<td>{{site.type}}</td>
									<td>
										<button class="btn btn-danger" ng-click="removeSite(site._id)"><span translate="SITES.Delete"></span></button>
									</td>
								</tr>
								<tr enter-submit="addSite()">
									<td><input class="form-control" type="text" placeholder="URL" ng-model="newSiteUrl"></td>
									<td><input class="form-control" type="text" placeholder="Port" ng-model="newSitePort" ng-show="newSiteMethod != 'http'"></td>
									<td>
										<select class="form-control" ng-model="newSiteMethod">
											<option value="tcp">TCP</option>
											<option value="http">HTTP</option>
										</select>
									</td>
									<td>
										<button class="btn btn-success" ng-click="addSite()"><span translate="SITES.Add"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>